@charset "utf-8";
@import url("normalize.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

//Vars
$white: #fffffa;
$black: #444444;

@mixin breakpoint($point) {
	@if $point == break-tablet {
		@media screen and (min-width: 48.000em) { @content; } //768px breakpoint
	}
	
	@else if $point == break-desktop {
		@media screen and (min-width: 80.000em) { @content; } //1280px breakpoint
	}
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: hsla(0, 0%, 20%, 1);
	color: hsla(60, 100%, 99%, 1);
    text-shadow: none;
}

::selection {
    background: hsla(0, 0%, 20%, 1);
	color: hsla(60, 100%, 99%, 1);
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsla(0, 0%, 80%, 1);
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
			text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		 -o-font-smoothing: antialiased;
			font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: hsla(340, 82%, 50%, 0.6);
}

body {
	height: 100%;
	min-height: 100%;
	color: $black;
	font: 16px/18px "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: #EDEDED;
}

.greyscale-on {
	-webkit-filter: grayscale(100%); //webkit only
}

.medium {
	font-size: 20px;
	line-height: 24px;
}

.large {
	font-size: 24px;
	line-height: 28px;
}

h1, h2, h3, h4 {
	margin: 0 0 10px 0;
	color: hsla(0, 0%, 13%, 1);
	font-weight: 300;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

.medium h1 {
	font-size: 34px;
	line-height: 40px;
}

.large h1 {
	font-size: 38px;
	line-height: 44px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

.medium h2 {
	font-size: 28px;
	line-height: 34px;
}

.large h2 {
	font-size: 32px;
	line-height: 38px;
}

#wrapper {
	width: 100%;
	min-height: 100%;
}

.content {
	position: relative;
	padding-bottom: 100px;
}

.inner-wrap {
	padding: 0 14px;
}

.container {
	zoom: 1;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.centre {
	margin: 0 auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
	cursor: default;
}

/* Main mobile first
---------------------------------- */
.site-header {
	width: 100%;
	height: 50px;
	position: relative;
	display: block;
	background: $black;
	border-bottom: 1px solid $white;
	
		> h1 {
			color: $white;
			font-size: 24px !important;
			line-height: 38px !important;
			margin: 0;
			padding-top: 5px;
			position: relative;
			
				a {
					text-decoration: none;
					
						&:visited {
							color: $white;
						}
				}
				
				span.bt-connected {
					position: absolute;
					width: 30px;
					height: 30px;
					top: 10px;
					right: 50px;
					background: url("../img/bluetooth-connected.png") no-repeat;
					background-size: cover;
					color: $black;
					border-radius: 2px;
				}
			
				span.greyscale {
					position: absolute;
					width: 30px;
					height: 30px;
					top: 10px;
					right: 14px;
					background: -moz-linear-gradient(-45deg, hsla(336,100%,58%,1) 5%, hsla(0,80%,53%,1) 27%, hsla(29,100%,60%,1) 47%, hsla(29,100%,60%,1) 49%, hsla(120,33%,1%,1) 50%);
					background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,hsla(336,100%,58%,1)), color-stop(27%,hsla(0,80%,53%,1)), color-stop(47%,hsla(29,100%,60%,1)), color-stop(49%,hsla(29,100%,60%,1)), color-stop(50%,hsla(120,33%,1%,1)));
					background: -webkit-linear-gradient(-45deg, hsla(336,100%,58%,1) 5%,hsla(0,80%,53%,1) 27%,hsla(29,100%,60%,1) 47%,hsla(29,100%,60%,1) 49%,hsla(120,33%,1%,1) 50%);
					background: -ms-linear-gradient(-45deg, hsla(336,100%,58%,1) 5%,hsla(0,80%,53%,1) 27%,hsla(29,100%,60%,1) 47%,hsla(29,100%,60%,1) 49%,hsla(120,33%,1%,1) 50%);
					background: linear-gradient(135deg, hsla(336,100%,58%,1) 5%,hsla(0,80%,53%,1) 27%,hsla(29,100%,60%,1) 47%,hsla(29,100%,60%,1) 49%,hsla(120,33%,1%,1) 50%);
					color: $black;
					border-radius: 2px;
					cursor: pointer;
				}
		}
}

.ski-locations {
	position: relative;
	
		#locations-map {
			width: 100%;
			height: 280px;
			display: block;
			border-bottom: 1px solid $white;
			
				@include breakpoint(break-tablet) {
					height: 460px;
				}
		}
		
		.adp-warnbox, .adp-legal, .gmnoprint, .gm-style-cc {
			display: none;
		}
		
		.locations-list {
			position: relative;
			display: block;
			
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					
						a {
							text-decoration: none;
						}
					
						li {
							width: 100%;
							height: 70px;
							padding: 0 14px;
							position: relative;
							color: $white;
							line-height: 70px;
							font-weight: 600;
							border-bottom: 1px solid $white;
							cursor: pointer;
							
								i {
									position: absolute;
									top: 20%;
									right: 14px;
								}
						}
						
						li.stats {
							background: #53B82B;
						}
						
						$gerardmer: #ff2a7e;
						.gerardmer {
							background: $gerardmer;
						}
						
						$metabief: #e72929;
						.metabief {
							background: $metabief;
						}
						
						$tignes: #ff9530;
						.tignes {
							background: $tignes;
						}
						
						$chamrousse: #00adef;
						.chamrousse {
							background: $chamrousse;
						}
				}
		}
}

/* ---------- */

.resort {
	width: 100%;
	height: auto;
	position: relative;

		h1 {
			height: 80px;
			position: absolute;
			top: 20px;
			z-index: 10;
			margin: 0;
			padding-top: 14px;
			background: hsla(0, 100%, 0%, 0.8);
			color: $white;
			line-height: 50px;
			letter-spacing: 1px;
		}
		
		h2 {
			height: 40px;
			margin: 0;
			background: #444;
			line-height: 40px;
			color: $white;
			letter-spacing: 1px;
		}
				
		.piste-map {
			width: 100%;
			max-width: 100%;
			height: 200px;
			
				@include breakpoint(break-tablet) {
					height: 440px;
				}
		}
		
		.gerardmer-map {
			background: url("../img/gerardmer.png") no-repeat;
			background-size: cover;
		}
		
		.metabief-map {
			background: url("../img/metabief.png") no-repeat;
			background-size: cover;
		}
		
		.tignes-map {
			background: url("../img/tignes.png") no-repeat;
			background-size: cover;
		}
		
		.chamrousse-map {
			background: url("../img/chamrousse.png") no-repeat;
			background-size: cover;
		}
		
		.piste-list {
			width: 100%;
			position: relative;
			
				.rc {
					position: relative;
					display: block;
					
						.run-label {
							height: 20px;
							position: absolute;
							top: 14px;
							left: 16px;
							font-size: 16px;
							color: $white;
							display: none;
						}
						
						
				}
				
				.run {
					position: relative;
					display: inline-block;
					width: 60px;
					height: 60px;
					background: black;
					margin: 14px;
					text-align: center;
					color: $white;
					line-height: 60px;
					font-weight: 600;
					font-size: 20px;
					cursor: pointer;
				}
			
				p {
					position: absolute;
					top: 14px;
					font-size: 24px;
					font-weight: 300;
					line-height: 30px;
					display: inline-block;
					margin: 0;
				}
						
				.send-to-goggles {
					position: absolute;
					top: 5px;
					left: 5px;
					width: 50px;
					height: 50px;
					display: inline-block;
					background: url("../img/goggles-icon.png") no-repeat;
					background-size: cover;
				}
				
				.run-green { //beginner
					background: #8ab71f;
				}
			
				.run-blue { //novice
					background: #00adef;
				}
				
				.run-red { //intermediate
					background: #c73838;
				}
				
				.run-black { //advanced-expert
					background: #0a0a0a;
				}
			
		}
		
		.weather {
			width: 100%;
			position: relative;
			
				.hldr {
					margin-bottom: 22px;
				}
			
				.title, .temp {
					margin-top: 14px;
				}
				
				.title {
					margin-bottom: 30px;
					
				 		a {
							text-decoration: none;
							color: hsla(359,100%,63%,1.00);
					
								&:visited {
									color: hsla(359,100%,63%,1.00);
								}
						}
				}
				
				.temp {
					margin-bottom: 18px;
					
						span.first {
							font-size: 50px;
						}
						
						span.second {
							font-size: 28px;
							vertical-align: top;
							margin-left: 16px;
						}
				}
				
				.winds {
					font-size: 28px;
					line-height: 36px;
					
						span {
							font-size: 26px;
							font-style: italic;
							font-weight: 600;
							display: block;
							margin-bottom: 10px;
						}
				}
		}
}

.label-active {
	display: block !important;
}

.statistics {
	position: relative;
	
		.brdr {
			width: 96%;
			margin: 0 auto 10px auto;
			border-bottom: 1px solid #ccc;
		}
	
		.fb-share {
			width: 140px;
			height: 60px;
			position: relative;
			background: #49639e;
			color: $white;
			padding: 14px;
			border-radius: 2px;
			margin-left: 14px;
			margin-top: 40px;
			
				i {
					vertical-align: middle;
					position: absolute;
					top: 16%;
					left: 10px;
				}
				
				span {
					position: absolute;
					right: 18px;
					font-size: 26px;
				}
				
				&:hover {
					opacity: .94;
				}
		}
		
		.times p, .speeds p {
			margin: 30px 0 30px 0;
			font-size: 30px;
			
				span {
					font-size: 50px;
					vertical-align: middle;
				}
		}
		
		.times {
			margin-top: 10px;
			margin-bottom: 14px;
			
				.prev {
					margin-bottom: 40px;
				}
		}
}

/* send to goggles overlay */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all .5s;
	-moz-transtion: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
		i {
			position: absolute;
			top: 30px;
			right: 30px;
			color: hsla(360, 100%, 100%, 1);
			cursor: pointer;
		}
		
		.sending {
			width: 100%;
			position: absolute;
			top: 40%;
			-webkit-transform: translateY(-40%);
			-ms-transform: translateY(-40%);
			transform: translateY(-40%);
			padding: 20px;
			font-size: 30px;
			font-weight: 600;
			line-height: 50px;
			color: hsla(360, 100%, 100%, 1);
			text-align: center;
		}
		
		.loading {
			position: absolute;
			top: 62%;
			left: 0;
			right: 0;
			-webkit-transform: translateY(-48%);
			-ms-transform: translateY(-48%);
			transform: translateY(-48%);
			text-align: center;
		}
}

.show-overlay {
	opacity: 0.8;
	z-index: 20;
	-webkit-transition: all .5s;
	-moz-transtion: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* ---------- */

.site-footer {
	width: 100%;
	height: 100px;
	display: block;
	margin-top: -100px;
	background: $black;
	color: white;
	
		.footer-left, .footer-right {
			margin-top: 10px;
		}
	
		.footer-left > p {
			font-size: 15px !important;
			line-height: 18px !important;
			margin: 10px 0 0 0;
		}
}

.text-adjust {
	display: block;
	position: relative;

		span {
			display: block;
			font-size: 15px !important;
			line-height: 18px !important;
		}
	
		ul.resizer {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
				li {
					display: inline;
					cursor: pointer;
					margin-right: 5px;
					
						&:nth-of-type(1) {
							font-size: 16px !important;
						}
						
						&:nth-of-type(2) {
							font-size: 24px !important;
						}
						
						&:nth-of-type(3) {
							font-size: 32px !important;
						}
				}
		}
}



/* Google translate style overides
---------------------------------- */
#google_translate_element{color:rgb(131,131,131)!important;font-size:14px!important;line-height:18px!important;}
#google_translate_element .goog-logo-link{color:#ffffff!important;font-size:11px!important;border-bottom:none!important;font-weight:normal!important;}
#google_translate_element .goog-te-gadget {color:#ffffff!important;}
#google_translate_element .goog-logo-link img{display:none!important}
#google_translate_element .goog-logo-link:hover{background-color:transparent!important;}
#google_translate_element .goog-logo-link:before{content:"Google ";}
#google_translate_element .goog-te-combo{padding:2px;border:none;}
#google_translate_element .goog-te-combo:focus{outline:none;}

/* Adjustments for larger displays
---------------------------------- */
@media only screen and (max-width: 56.250em) { /*900px*/
	
}

/* Helper classes
---------------------------------- */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}